a { outline: none; } 
/* skip menu */
.skip_menu { position: fixed; left: 50%; top: 0; background: #fff; color: #000; padding: 10px 15px; font-size: 1.6rem; text-decoration: none; transform: translateY(-100%); transition: 0.3s; text-align: center; align-items: center; } 
.skip_menu:focus { transform: translateY(0%); border: dotted rgb(66, 35, 152) 2px; } /* skip menu */

.wrap { width: 100%; } 
.inner { width: 100%; max-width: 1500px; margin: auto;} 
.header { height: 140px; padding: 0 10rem; justify-content: center; line-height: 140px; display: flex; } 
.header_top { height: 70px; background: #689ace; } 
.header_top>.inner{display: flex;} 
.header_top .button { display: flex; } 
.language { display: none; } 
.header_logo {max-width: 1500px; height: 140px;} 
.header_logo>.inner{display: flex;}
.header_logo h1 { font-size: 3.1rem; font-weight: 700; } 
.header_logo img{width: 20%;}
.search {min-width: 20rem; } 
input { padding: 1rem; vertical-align: top; } 
/* 상단메뉴바 */
nav { position: relative; width: 100%; height: 9.4rem; background: #fff; } 
/* nav::before { content: ''; left: 0; top: 100px; width: 100%; position: absolute; background: var(--background); transition: all 0.5s; height: 0; z-index: 11; }  */

nav>.gnb {display: flex;} 

nav>.gnb li { margin: 0 3.8rem; } 

nav>.gnb li>a {width: 80%; display: block; line-height: 9.4rem; font-size: 2rem; font-weight: bold;  padding:0 6rem;} 
nav>.gnb li a:hover { color: #e95a65; } 


/* 투뎁스레이아웃 */
.gnb .dep1 ul { display: flex;} 

.gnb .dep1 li { flex: 0 1 20rem; margin: 0; border-left: 1px solid #e9e9e9; padding-left: 2rem; } 

.gnb .dep1 li h2 { font-size: 1.5rem; font-weight: bold; text-align: center; color: #e95a65; padding-top: 0.2rem; } 

.gnb .dep1 li a { font-size: 1rem; font-weight: bold; line-height: 1.8; } 

.gnb .dep1 li h3 a { color: #097a84; font-weight: bold; line-height: 2; margin-bottom: 0.3rem; } 

.gnb .dep1 li a { color: #777; font-size: 0.8em; font-weight: 700; line-height: 1.7; } 

/* 투뎁스배경 */
nav .gnb_bg { position: absolute; background: #fbfbff; top: 9.4rem; left: 0; width: 100%; padding: 0 0; transition: all 0.5s; height: 0; overflow: hidden; z-index: 9; } 

/* hover */
.gnb .dep1:hover .gnb_bg { padding: 2rem 0; height: auto; box-shadow: 0 0 10px 10px rgb(0 0 0/ 30%); } 
/* sns링크 */
.link .sns { position: fixed; right: 2rem; top: 2rem; background: #ebebeb; z-index: 55; padding: 2rem 2rem 1rem; display: flex; flex-direction: column; justify-content: space-evenly; } 
.sns li a { display: block; text-align: center; } 
.sns a * { display: block; } 
.sns li a .icon { width: 3.2rem; height: 3.2rem; background: no-repeat center center/cover; padding: 1rem; } 
.sns li:nth-child(1) a .icon { background-image: url(../images/bi_facebook.png); } 
.sns li:nth-child(2) a .icon { background-image: url(../images/mdi_twitter.png); } 
.sns li:nth-child(3) a .icon { background-image: url(../images/cib_youtube.png); } 
.sns li:nth-child(4) a .icon { background-image: url(../images/mingcute_kakao-talk-fill.png); } 
.sns li:nth-child(5) a .icon { background-image: url(../images/ri_instagram-fill.png); } 


/* banner */
.banner { height: 450px; background-image: url(../images/bg_pattern_top_slides.png); } 
.banner .inner {display: flex;} 
main { height: 945px; background: #504ca0; }
/* section:nth-child(1) { height: 315px; background: #b171d4; } 
section:nth-child(2) { height: 315px; background: #8944ae; } 
section:nth-child(3) { height: 315px; background: #b171d4; } */
main .board { width: 100%; height: 250px; padding: 1rem; } 
main .board .inner { width: 100%; max-width: 900px; margin: auto; } 
main .board .row { display: flex; } 

main .board .buttons li { width: 9rem; padding: 1rem; text-align: center; border: 2px solid var(--primary); background: var(--background); } 
main .board .buttons li.on { background: var(--primary); } 
main .board .buttons li.on a { color: var(--background); } 
main .board .panels { width: 100%; height: 18rem; max-width: 50rem; flex-direction: column; position: relative; border: 2px solid var(--primary); border-top: none; } 
main .board .panels::before { content: ''; position: absolute; width: calc(100% - 17rem); height: 2px; background: var(--primary); top: -2px; right:-2px; } 
main .board .panels .row { justify-content: space-between; } 
main .board .panels .row div { padding: 0.8rem 3rem; } 
main .board h2 { position: absolute; right: 50rem; width: 20rem; text-align: center; line-height: 1.25; color: #bcbcbc; padding: 1rem; font-size: 5rem; } 
main .board .panels .row .left { cursor: pointer; } 
main .board .panels .row .left:hover { text-decoration: underline; } 
.panel1,.panel2 { position: absolute; height: 17rem; width: 100%; } 
.panel2 .row li { padding: 2rem; } 
.panel2 .row li img { width: 100%; } 
.panel2 { display: none; }

 
 
footer { height: 220px; background: #77b5d7; } 
.footer_nav { height: 60px; background: #5889a4; } 
.footer_info { height: 160px; background: #2093d2; } 